.menuOpen {
    transition: 0.3s;
    position: absolute;
    left: 0;
    top: 30px;
    background: yellow;


}


.menuClose {
    transition: 0.3s;
    position: absolute;
    left: -100%;
    top: 30px;
    background: green;
}
.button{
    color: red;
}

